// This works to clean things up but I can't see 
// how to globally force copy or hardlinks for 
// published results so we don't just end up with
// a bunch of broken symlinks

// cleanup.enabled = true

process {

    executor = 'slurm'
    memory = 5.GB
    cpus = 1

    withLabel: bigMem {
        memory = 20.GB
    }
    
    withLabel: mem40G {
        memory = 40.GB
    }

    withLabel: hugeMem{
    	memory = 80.GB
    }

    withLabel: multiCore {
        cpus = 8
    }

    withLabel: quadCore{
     	cpus = 4
    }
   
}

notification {
    enabled = true
    to = "${USER}@babraham.ac.uk"
}

timeline {
    enabled = true
    file = "execution_timeline.html"
}
report {
    enabled = true
    file = "execution_report.html"
}
//trace {
//   enabled = true
//    file = "execution_trace.txt"
//}

// dag {
//   enabled = true
//   file = "pipeline_dag.svg"
// }

tower {
  accessToken = 'c618fd637bd6f302b27117c547c4cdbd52c5c26a'
  enabled = false
}